body {
    background-image: url("./starnight.JPG");
    background-size: 50rem;
}

.lp {
    position: relative;
    float: left;
    top: 50px;
    left: 510px;
    border-radius: 50%;
    animation: rolling-lp 7s linear infinite;
}
p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: small;
    color: grey;
    position: relative;
    float: left;
    top: 600px;
    left: 180px;
}

a{
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.move:hover {
    transform: translateY(-7px);
}

.audio {
    position: absolute;
    float: left;
    top: 560px;
    left: 590px;
}

@keyframes rolling-lp {
    0%      {transform: rotate(0);}
    100%    {transform: rotate(1turn);}
}