body {
    background-image: url("./starnight.JPG");
    background-size: 50rem;
}


.lp-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 35rem;
}

.lp {
    border-radius: 50%;
    animation: rolling-lp 7s linear infinite;
}

.move:hover {
    transform: translateY(-7px);
}

.audio-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: small;
    color: grey;
    text-align: left;
}

a{
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

@keyframes rolling-lp {
    0%      {transform: rotate(0);}
    100%    {transform: rotate(1turn);}
}
