body {
    background-image: url("./starnight.JPG");
    background-size: 50rem;
}

.header-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5rem;
}

.home {
    margin: 0 5rem 0 5rem;
}

.menu {
    text-decoration: none;
    color: rgb(229, 237, 240);
    font-family: 'Freestyle Script';
    font-size: 27px;
    margin: 0 3.8rem 0 3.8rem;
}

.menu:hover {
    color: teal;
    transition: 0.4s;
}

p{
    color:white;
    font-family: 'Nanum Gothic', sans-serif;
}

.menu:hover {
    color:teal;
    transition: 0.4s;
}

.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
