body {
    background-image: url("./starnight.JPG");
    background-size: 50rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.menu {
    text-decoration: none;
    color: rgb(229, 237, 240);
    font-family: 'Freestyle Script';
    font-size: 28px;
}

.menu:hover {
    color:teal;
    transition: 0.4s;
}

.album {
    position: absolute;
    margin: 4rem 0 0 35rem;
}

.home {
    position: absolute;
    margin: 4rem 0 0 45rem;
}

.playlists {
    position: absolute;
    margin: 4rem 0 0 54rem;
}

p{
    color:white;
    font-family: 'Nanum Gothic', sans-serif;
}

.highlight {
    display: inline;
    box-shadow: inset 0 -18px 0 #1a5b69;
}
.hov:hover {
    transform: translateY(-8px);
    transition: 0.5s;
}

.img1{
    position: relative;
    top: 15rem;
    left: 20rem;
}

.christmas_text {
    position: relative;
    left: 50rem;
    top: 5rem;
}

.img2{
    position: relative;
    top: 45rem;
    left: 45rem;
    padding-bottom: 30rem;
}

.ece_text {
    text-align: right;
    position: relative;
    left: -55rem;
    top: 5rem;
}

.normal_text {
    text-align: center;
    position: relative;
    top: 40rem;
}

.img3{
    position: relative;
    top: 70rem;
    left: 20rem;
}

.kibs_text{
    text-align: left;
    position: relative;
    top: 59rem;
    left: 50rem;
}

.imgset {
    position: relative;
    left: 21.5rem;
    top: 95rem;
}

.kibs2_text{
    text-align: center;
    position: relative;
    top: 100rem;
}

.img4{
    position: relative;
    top: 150rem;
    left: 60rem;
    padding-bottom: 25rem;
}

.comp_text{
    text-align: right;
    position: relative;
    top: 113rem;
    left: -45rem;
}